ollama==0.2.0
opencv_python==4.9.0.80
Requests==2.32.2
setuptools==69.5.1
streamlit==1.35.0
streamlit_camera_input_live==0.2.0
streamlit_mic_recorder==0.0.4
streamlit_TTS==0.0.7
streamlit_TTS==0.0.7
websocket_client==1.8.0
